<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Supplier</title>
    <style>
      table {
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h3>Data Supplier</h3>
    <table border="1" cellpadding="5" cellspacing="0" width="100%">
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
      {{#each suppliers}}
      <tr>
        <td>{{this.no}}</td>
        <td>{{this.name}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.email}}</td>
        <td>{{this.address}}</td>
      </tr>
      {{/each}}
    </table>
  </body>
</html>
