# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3306/relasi_db"
PORT=3000

FILE_MAX_SIZE=5000000
FILE_MAX_MESSAGE="File size must be less than 5MB"
FILE_EXTENSION=[".png", ".jpg", ".jpeg"]

JWT_SECRET=mrFSJDopzyX515uNScCvjdn1QoFeYLzsWI1uhHkwWzf4eleGaK
JWT_EXPIRES_IN=100s
JWT_REFRESH_SCRET=EiKZqZWB6vVrnB77I6P04G7mINRd6S6eJ99uf7wGvlAYgwh8cE
JWT_REFRESH_EXPIRES_IN=86400s   #exired in 1 day